################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/blob.loader/bin
/blob.loader/obj
*.user
/.vs
